<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{% extends 'admin_index1.html' %}
{% block body %}

<body>
<form action="" method="get">
{% csrf_token %}
<table class="pull-left mb-3 mt-3">
     <h1 align="center"><u>View Rejected Shops</u></h1><br>
  <tr>
    <td><input name="search" type="text" /></td>
    <td><input name="" type="button" value="Search" class="btn btn-success"/></td>
  </tr>
</table>
<table class="table table-bordered bg-light">
  <tr>
    <td>SL No</td>
    <td>Name</td>
    <td>Photo</td>
    <td>Place</td>
    <td>Email</td>
    <td>Phone</td>
    <td>Owner Name</td>
    <td>License No</td>
    <td>Address</td>
  </tr>
 {% for i in data %}
  <tr>
    <td>&nbsp;{{ forloop.counter }}</td>
    <td>{{ i.shop_name}}</td>
    <td><img src="{{ i.photo }}" height="100" width="100" alt=""/>&nbsp;</td>
    <td>{{ i.shop_place }}</td>
    <td>&nbsp;{{ i.email }}</td>
    <td>{{ i.shop_phone }}</td>
    <td>&nbsp;{{ i.owner_name }}</td>
    <td>{{ i.shop_license_no }}</td>
    <td>&nbsp;{{ i.post }}<br>{{ i.pin }}<br>{{ i.district }}</td>
  </tr>
     {% endfor %}
</table>
</form>
</body>
{% endblock %}
</html>
